/* projects */
.projects {
  height: 70vh;
  padding-top: 30px;
  overflow-y: auto;
}

.projectCard__wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
}

.projectCard__image {
  width: 100%;
  height: 80%;
  border-radius: 30px;
  border: 1px solid #c6426e;
  transition: transform 0.3s linear;
}

.projectCard__image:hover {
  transform: scale(1.05);
}

.projectCard__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.projectCard__title {
  margin-top: 12px;
  font: size 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__navbar {
  display: flex;
  margin-bottom: 5px;
}

.projects__navbar > div {
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}

.projects__navbar-active {
  color: #c6426e;
}
