@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");

body {
  background-image: linear-gradient(to right bottom, #642b73, #c6426e);
  background-attachment: fixed;
  color: #354358;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #642b73, #c6426e);
}

a {
  text-decoration: none;
  color: #354548;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.app__container {
  padding-top: 50px;
}

.app__row {
  height: 86vh;
}

.app__main-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 15px;
  box-shadow: 0 0 10px black;
}

@media (max-width: 991px) {
  .app__main-content {
    margin: 30px 0;
  }
}

@media (max-width: 600px) {
  .app__main-content {
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar__active {
    font-size: 1.5rem;
  }

  .navbar__item {
    font-size: 1rem;
  }
}
